#mostrar{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:rgb(232, 208, 176);
    width: 100%;
}
#contenedor{
    justify-content: center;
    text-align: center;
    width: 100%;
}

.caja{
    
    width:80px;
    border:3px solid;
    margin: 20px;
    padding: 5px;
    background-color:brown;
    display: inline-block;
    font-size: 36px;
}